mat-card {
  transition: transform 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.cards {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.no-data {
  text-align: center;
  padding: 1rem;
  color: #888;
  font-style: italic;
}