<div class="page">
  <div class="home-button">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <div class="login">

    <img src="/favicon.ico" alt="logo" />
    <h3>{{ title }}</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'login.email' | translate}}</mat-label>
        <input matInput formControlName="username" type="text" />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          {{ 'login.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'login.password' | translate}}</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          {{ 'login.required' | translate}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        {{ 'login.signin' | translate}}
      </button>
    </form>
  </div>
</div>