
<mat-toolbar>
    <img src="/favicon.ico" />
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="/">{{ 'menu.home' | translate }}</a>
        <a mat-list-item href="#">{{ 'menu.auth' | translate }}</a>
        <a mat-list-item href="#">{{ 'menu.databases' | translate }}</a>
        <a mat-list-item href="#">{{ 'menu.storage' | translate }}</a>
        <a mat-list-item href="#">{{ 'menu.settings' | translate }}</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  
