
<div class="page">
  <h1>Create New User</h1>
  <form (ngSubmit)="createUser()">
    
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Write the Name of the User" [(ngModel)]="user.name" name="name" >
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Surnames</mat-label>
  <input matInput placeholder="Write the Surnames of the User" [(ngModel)]="user.surnames" name="surnames" >
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Email</mat-label>
  <input matInput placeholder="Write the Email of the User" [(ngModel)]="user.email" name="email" required>
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Password</mat-label>
  <input matInput placeholder="Write the Password of the User" [(ngModel)]="user.password" name="password" required>
</mat-form-field>

    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>
</div>
